<h2>Thoughtworks</h2>

<div class="form-group clearfix">
  <label class="col-md-2 control-label" for="privateKey">{{::
    'singpass.validating-private-key-id' | translate}}</label>
  <div class="col-md-6">
            <textarea class="form-control" id="privateKey"
                      ng-model="identityProvider.config.privateKey"></textarea>
  </div>
  <kc-tooltip>{{:: 'singpass.validating-private-key.tooltip' | translate}}</kc-tooltip>
</div>

<!--<div class="form-group clearfix">-->
<!--  <label class="col-md-2 control-label" for="clientId2">{{:: 'mobile-weixin-appid' | translate}}</label>-->
<!--  <div class="col-md-6">-->
<!--    <input class="form-control" id="clientId2" type="text" ng-model="identityProvider.config.clientId2" >-->
<!--  </div>-->
<!--  <kc-tooltip>{{:: 'mobile-weixin-appid.tooltip' | translate}}</kc-tooltip>-->
<!--</div>-->
